/* Universal Styles */

html {
  font-size: 16px;
}

body:nth-child(2n+1) {
  background-color: #ecf0f1;
}

.col-main {
  margin: 2rem 1.54rem;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.col-sub {
  margin: 2rem;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-row {
  display: flex;
  align-items: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div {
  border: solid 1px;
  display: block;
}

.container {
  margin: 2rem 0 2rem 1.5rem;
}

img {
  height: auto;
  max-width: 100%;
  display: block;
}

.img-container {
  width: 100%;
  height: auto;
  overflow: hidden;
}

video {
  max-width: 100%;
  height: auto;
  display: block;
}

.button {
  background-color: #34495e;
  padding: 0.5rem;
  width: 100%;
}

.quote {

}

.citation {
  font-weight: bold;
}

h1, h2, h3, {
  font-weight: bold;
  margin-bottom: 2rem;
  display: block;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

a {
  text-decoration: none;
}

/* Header */

header {
  height: 4rem;
  margin-right: 1.5rem;
  justify-content: space-between;
  width: 100%;
}

nav {

}

/* Main Banner Section */

.main-banner {
  width: 100%;
}
.main-banner .container .col-sub {
  margin-right: 4rem;
  justify-content: flex-start;
}


/* Supporting Banner Sections */

.support-banner {
  width: 100%
  /* needs max height */
}

.support-banner .col-main .img-caption {
  width: 100%;
  align-items: flex-start;
}

.info {
  width: 100%;
}

.support-banner .container {
  align-items: stretch;
}

.support-banner .container ul li {
  margin-bottom: 1.5rem;
}

.support-banner .container .img-container {
  margin-bottom: 2rem;
}

.info-img {
  max-width: 35%;
  height: auto;
  margin: 1rem;
}

.info-details {
  align-items: flex-start;
  justify-content: center;
  width: 65%;
}

.info-title {
  margin-bottom: 8px;
}

.info-description {
  margin-bottom: 8px;
}

.info-link {

}

/* Courses Section */

.courses {
  width: 100%;
}

.courses .container {
  margin:0 2.5rem;
  padding: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
}

.courses h2 {
  width: 100%;
  margin: 1rem;
  text-align: center;
}

.course {
  margin: 1rem;
  width: 30%;
}

.course-img {
  width: 100%;
  height: 33%;
  height: auto;
}

.course-info {
  margin: 1rem 1.5rem 1.5rem 1rem;
}

.course-info ul {
  align-items: flex-start;
}

.course-info ul li:first-child {
  font-weight: bold;
  color: black;
}

.course-info ul li {
  margin: 4px 0;
  color: gray;
}

.course-info ul li:nth-child(2n + 2) {
  text-transform: uppercase;
}

/* Thesis Section */

.thesis .container {
  align-items: flex-start;
}

.thesis .container .col-main ul {
  margin: 2rem;
}

.thesis .container .col-main ul li h3{
  margin-bottom: 0.5rem;
}

/* Footer */

footer {
  font-size: .75rem; 
}

footer .container {
  justify-content: space-between;
}
