/* Universal Styles */

html {
  font-size: 16px;
  font-family: 'PT Sans', sans-serif;
}

body:nth-child(2n+1) {
  background-color: #ecf0f1;
}

.col-main {
  margin: 2rem 1.5rem;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.col-sub {
  margin: 2rem 0;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (max-width: 800px) {
  .col-main, .col-sub {
    width: 100%;
    margin: 0;
  }
}

.flex-row {
  display: flex;
  align-items: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div {
  display: block;
}

.container {
  margin: 1rem 2rem 1rem 1.5rem;
  max-width: 100rem;
}

img {
  height: auto;
  max-width: 100%;
  display: block;
}

.img-container {
  width: 100%;
  height: auto;
  overflow: hidden;
}

video {
  max-width: 100%;
  height: auto;
  display: block;
}

.button {
  background-color: #34495e;
  padding: 0.5rem;
  width: 100%;
}

.quote {

}

.citation {
  font-weight: bold;
}

h1, h2, h3, {
  margin-bottom: 1rem 0;
  display: block;
}

h1 {
  font-size: 3.0rem;
  font-weight: bold;
}

h2 {
  font-size: 2.0rem;
}

h3 {
  font-size: 1.5rem;
}

@media only screen and (max-width: 1200px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2.0rem;
  }

  h3 {
    font-size: 1.0rem;
  }
}

a {
  text-decoration: none;
  color: black;
  transition: all 500ms linear 250ms;
}

a:hover {
  color: blue;
  font-size: 2rem;
}

/* Header */

header {
  height: 4rem;
  margin-right: 1.5rem;
  justify-content: space-between;
  width: 100%;
}

header .container {
  margin: 1rem 0 1rem 1.5rem;
}

.company-name  ul {
  height: 2.5rem;
  align-items: center;
}

.logo {
  height: auto;
  width: 2rem;
}

.company-name ul li {
  font-size: 1.5rem;
  font-weight: bold;
}

.company-name ul li:nth-child(1n + 2) {
  text-transform: uppercase;
}

.company-name ul li:last-child {
  color: gray;
}

nav ul {
  margin-right: 1.5rem;
}

nav ul li {
  font-size: 1.5rem;
  padding-right: 1rem;
}

.mobile {
  display: none;
}
@media only screen and (max-width: 800px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: flex;
    justify-content: space-around;
  }

  header nav {
    width: 50%;
  }
}

@media only screen and (max-width: 480px) {
  .desktop, .company-name {
    display: none;
  }
  header nav {
    width: 100%;
  }

  .mobile {
    width: 100%;
  }
}

/* Main Banner Section */

.main-banner {
  width: 100%;
  background-color: #DBDBDB;
}

.main-banner .container .col-sub {
  margin-right: 4rem;
  justify-content: flex-start;
  color: #515050;
}

.main-banner .container .col-sub ul {
  width: 85%;
}

.main-banner .container .col-sub ul li{
  margin-bottom: 2rem;
  margin: 1rem;
  font-weight: bold;
}

.main-banner .container .col-sub ul .button {
  background-color: #515050;
  margin-top: 1.5rem;
  text-align: center;
  font-size: 1.5rem;
  height: 2.5rem;
  width: 90%;
  justify-content: center;
}

.main-banner .container .col-sub ul li h2 {
  font-weight: normal;
}

.main-banner .container .col-sub ul .button a {
  color: #FFFFFF;
}

@media only screen and (max-width: 1028px) {
  .main-banner .col-sub ul li h1 {
    font-size: 2.0rem;
  }

  .main-banner .col-sub ul li h2 {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 800px) {
  .main-banner .container {
    flex-direction: column;
  }

  .main-banner .container .col-sub ul {
    width: 100%;
  }

  .main-banner .container .col-sub ul li {
    margin: 1.75rem 0;
  }

  .main-banner .container .col-sub {
    margin: 0;
  }

  .main-banner .container .col-sub ul .button {
    width: 100%;
    margin: 1.5rem 0rem;
  }
}


/* Supporting Banner Sections */

.support-banner {
  width: 100%
}

.support-banner .col-main .img-caption {
  width: 100%;
  align-items: flex-start;
}

.info {
  width: 100%;
}

.support-banner .container {
  align-items: stretch;
}

.support-banner .container ul li {
  margin-bottom: 1.5rem;
}

.support-banner .container ul li h2 {
  font-weight: bold;
}

.img-caption {
  color: #515050;
}

.quote {
  font-size: 1.5rem;
}

.support-banner .container .img-container {
  margin-bottom: 2rem;
}

.info-img {
  max-width: 35%;
  height: auto;
  margin: 1rem;
}

.info-details {
  align-items: flex-start;
  justify-content: center;
  width: 65%;
  color: #515050;
}

.info-details div {
  margin-bottom: .75rem;
}

.info-title {
  margin-bottom: 8px;
  font-weight: bold;
}

.info-title h3 {
  font-size: 2.5rem;
}

@media only screen and (max-width: 1200px) {
  .info-title h3 {
    font-size: 1.75rem;
  }

  .info-details p {
    font-size: 1.25rem;
  }
}

.info-description {
  margin-bottom: 8px;
  font-size: 1.5rem;
}

.info-link {
  font-size: 1.5rem;
}

.info-link a {
  color: #0981dd;
}

.info-link a:hover {
  color: #051827;
  font-size: 2rem;
}

.col-sub .guest-lecture {
  background-color: #DBDBDB;
}

@media only screen and (max-width: 800px) {
  .support-banner .container {
    flex-direction: column;
  }
}

@media only screen and (max-width: 480px) {
  .support-banner .container .col-main {
    display: none;
  }

  .info-title h3 {
    font-size: 1.5rem;
  }

  .info-description, .info-link {
    font-size: 1rem;
  }

  .col-sub .guest-lecture {
    background-color: #fff;
  }
}

/* Courses Section */

.courses {
  width: 100%;
  background-color: #DBDBDB;
}

.courses .container {
  margin:0 2.5rem;
  padding: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
}

.courses h2 {
  width: 100%;
  margin: 1rem;
  text-align: center;
}

.course {
  margin: 1rem;
  width: 30%;
  background-color: #fff;
}

@media only screen and (max-width: 1088px) {
  .course {
    margin: 0.5rem 0.5rem;
    width: 45%;
  }
}

.course-img {
  width: 100%;
  height: 33%;
  height: auto;
}

.course-info {
  margin: 1rem 1.5rem 1.5rem 1rem;
}

.course-info ul {
  align-items: flex-start;
}

.course-info ul li:first-child {
  font-weight: bold;
  color: black;
}

.course-info ul li {
  margin: 4px 0;
  font-size: 1.25rem;
  color: #515050;
}

.course-info ul li:first-child {
  font-size: 1.75rem;
  font-weight: bold;
}

.course-info ul li:nth-child(2n + 2) {
  text-transform: uppercase;
}

@media only screen and (max-width: 480px) {
  .courses {
    background-color: #fff;
  }

  .course .course-img,
  .course-info ul li:nth-child(1n + 2) {
    display: none;
  }

  .course {
    width: 100%;
    background-color: #DBDBDB;
    margin: .25rem 0;
  }

  .course-info {
    width: 100%;
    justify-content: flex-start;
    margin: 1rem 0 1rem 1.5rem;
  }

  .course-info ul li:first-child {
    font-size: 1.25rem;
    font-weight: bold;
    color: #515050;
  }
}

/*  Thesis Section  */

.thesis h1 {
  text-align: center;
  color: #515050;
  margin-top: 2rem;
}

.thesis .container {
  align-items: flex-start;
}

.thesis .container .col-main ul {
  color: #515050;
  padding-right: 1.5rem;
}

.thesis .container .col-main ul li {
  margin-top: 1rem;
  font-size: 1.25rem;
}

.thesis .container .col-main ul li h3 {
  font-size: 2.5rem;
  font-weight: bold;
}

.thesis .col-sub {
  justify-content: flex-start;
}

@media only screen and (max-width: 1200px) {
  .thesis .container {
    flex-direction: column;
  }
}

@media only screen and (max-width: 480px) {
  .thesis .col-sub, .col-main ul {
    display: none;
  }
}

/* Footer */

footer {
  font-size: .75rem;
}

footer .container {
  justify-content: space-between;
}

@media only screen and (max-width: 1200px) {
  footer nav ul li {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 480px) {
  footer nav {
    display: none;
  }
}
